<div class="m-0 p-0">
  <div class="text-center text-white text-lg font-bold p-4 bg-blue-400 shadow-xl">
    Update Field Configurations
  </div>
  <div class="text-center mt-3">
    A simple tool which allows you to compare field configuration and update
    fields accordingly.
    <p class="text-red-500" *ngIf="message !== ''">{{ message }}</p>
  </div>
  <div class="w-5/6 p-4 mt-4 m-auto">
    <!-- Action Buttons -->
    <div class="flex items-center justify-center gap-10" *ngIf="container.length > 0 && container[0].CORP != ''">
      <button (click)="copyConfig()"
        class="px-6 py-2 text-sm transition-colors duration-300 rounded rounded-full shadow-xl bg-slate-500 hover:bg-slate-600 text-slate-100 shadow-slate-400">
        <i class="bi bi-clipboard"></i>
        Copy Configuration
      </button>
      <div class="relative z-0 mb-6 group">
        <input type="number" name="from" [(ngModel)]="From" id="from"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
        <label for="from"
          class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          From :
        </label>
      </div>
      <div class="relative z-0 mb-6 group">
        <input type="number" name="from" [(ngModel)]="To" id="from"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
        <label for="from"
          class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          To :
        </label>
      </div>
      <button (click)="customCopyConfig()"
        class="px-6 py-2 text-sm text-blue-100 transition-colors duration-300 bg-blue-500 rounded-full shadow-xl hover:bg-blue-600 shadow-blue-400">
        <i class="bi bi-clipboard"></i>
        Custom Copy
      </button>
      <button (click)="updateConfig()"
        class="px-6 py-2 text-sm transition-colors duration-300 rounded rounded-full shadow-xl text-violet-100 bg-violet-500 hover:bg-violet-600 shadow-violet-400">
        <i class="bi bi-box-arrow-up"></i>
        Update Configuration
      </button>
    </div>

    <!-- COnfiguration Cards -->
    <div class="grid justify-items-center p-4 my-2" *ngIf="container.length > 0 && container[0].CORP != ''"
      [ngClass]="container.length > 2 ? 'lg:grid-cols-3 sm:grid-cols-1 gap-20 md:grid-cols-2' : 'lg:grid-cols-2 gap-x-80 sm:grid-cols-1 md:grid-cols-2'">
      <div class="min-w-full lg:max-w-9/12" *ngFor="let data of container; let i = index;">
        <div class="min-w-full rounded shadow-md shadow-indigo-600">
          <div class="p-4">
            <h2 class="text-center py-4 text-grey-600 font-bold">
              {{ data.CORP }}
            </h2>
            <div *ngFor="let field of form; let j = index;" class="relative z-0 mb-6 w-full group">
              <input type="{{field.type}}" name="{{field.name}}" [(ngModel)]="configData[i][j+1]"
                [(ngModel)]="i?null:config[j]" id="{{field.name}}{{i}}"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
              <label for="{{field.name}}"
                class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                {{field.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>